* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}



body {
  background-color: #18082e
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
  display: flex;
}

header {
  border-bottom: 1px solid #412567;
  background-color: #1A0B2E;

}

nav {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  align-items: center;
  padding: 18px 0px 18px 0px;
}

nav .logo {
  color: #FFFFFF;
  font-size: 45px;
  font-weight: bold;
}

.logo span {
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  background-clip: text;
  color: transparent;
}

.menu {
  list-style: none;
  gap: 32px;
}

.menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 120%;
  opacity: 90%;
  font-weight: medium;
}

.menu-bar {
  display: none;
}

.btn {
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  padding: 12px 16px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}

.nav-btn i {
  margin-left: 8px;
}

.btn:hover {
  background: var(--Linear, linear-gradient(90deg, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  color: #FFFFFF;
}

/* hero section */
.hero {
  background: url("./assets/hero-bg.png");
  background-position: center;
  padding: 120px 20px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.podcast-circle {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0px auto;
}

.podcast-circle img:first-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mic-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
}

.badge {
  position: absolute;
  top: 40px;
  right: 20px;
  background: #00ff99;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 3px 27px 0 #00ff887e;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }

}

.hero-title {
  font-size: 60px;
  font-weight: bolder;
  color: #FFFFFF;
  margin-top: 40px;
  /* line-height: 120%; */
  padding-bottom: 8px;
  background: linear-gradient(120deg,
      #ffffff 30%,
      #ffffff 45%,
      rgba(255, 255, 255, 0.3) 50%,
      #ffffff 55%,
      #ffffff 70%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  from {
    background-position: 200% center;
  }

  to {
    background-position: -200% center;
  }
}

.hero-description {
  font-size: 16px;
  color: #ffffffcc;
  margin-bottom: 24px;
}

.hero-btn1 i,
.hero-btn2 i {
  margin-right: 8px;
}

.hero-btn1 {
  margin-right: 8px;
}

.hero-btn2 {
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 50px;
  border: 1px solid #00FF88;
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  cursor: pointer;
}

/* About section */

.about {
  max-width: 1200px;
  margin: 0px auto;
}

.about-text-area {
  text-align: center;
}

.about-text-area .about-title {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 16px;
  padding-top: 50px;
}

.about-text-area .about-description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffffcc;
}

.d2 {
  padding: 30px 0px 80px 0px;
}

.about hr {
  border: 1px solid #ffffff10;
}

.about-info-area {
  padding: 80px 0px 120px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.about-info-area h3 {
  font-size: 48px;
  font-weight: 900;
  color: #00FF88;
}

.about-info-area p {
  font-size: 16px;
  line-height: 20px;
  color: #ffffffca;
  font-weight: 400;
  text-transform: uppercase;
}

/* Why choose techwave section */
.why-choose {
  background-color: #230E3D;
}

.why-choose-container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 120px 0px 120px 0px;
}

.wch-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.card {
  background-color: #3511655f;
  border-radius: 40px;
  padding: 40px 40px;
  align-content: center;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

.card-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5"
}

.card img {
  margin-bottom: 16px;
}

.card h4 {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.card p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 60%;
}

/* feature section  */
.feature {
  margin: 120px auto;
}

/* episode section */

.episode {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0px 20px;
}

.episode-title,
.feature-title,
.host-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.episode-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card {
  text-decoration: none;
  color: inherit;
  background-color: #3511655f;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.episode-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px #0000006a;
}

.thumb {
  position: relative;
}

.thumb img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.play-btn {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.play-btn i {
  font-size: 26px;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ff00cc, #ffcc00);
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.content {
  padding: 24px;
}

.content h4 {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.content p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 60%;
  margin-bottom: 12px;
}

.duration {
  font-size: 16px;
  color: #00ff9d;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

/* host sectiom */
.host {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.host-container {
  display: flex;
  gap: 24px;
  padding: 40px;
  background-color: #3511655f;
  border-radius: 35px;
}

.host-text {
  padding: 8px;
}

.host-name {
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
}

.host-description {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 60%;
  margin-bottom: 16px;
  margin-top: 16px;
}

.social-links {
  display: flex;
  gap: 8px;
}

.social-links a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  border: 2px solid #5330849f;
  transition: all 0.35s ease;
}

/* footer section  */
footer {
  background: url("./assets/footer-bg.png");
  background-position: center;
  padding: 120px 20px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.footer-container {
  margin: 0px auto;
  text-align: center;
}

.footer-container h1 {
  font-size: 75px;
  font-weight: 780;
  color: #FFFFFF;
}

.footer-container h1 span {
  background: var(--Linear, linear-gradient(30deg, rgba(247, 232, 63, 0.666), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  background-clip: text;
  color: transparent;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 32px;
  /* flex-wrap: wrap; */
}

.footer-social-links a {
  color: #ffffff9c;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-container p {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  opacity: 60%;
}

@media (max-width: 576px) {
  nav {
    padding: 1.5vw 5vw;
  }

  nav .logo {
    font-size: 30px;
  }

  .menu,
  .nav-btn {
    display: none;
  }

  .menu-bar {
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
  }

  .hero {
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #18082e;
    padding: 1px 0px;
    margin-top: 50px;

  }

  .podcast-circle {
    width: 44vw;
    height: 44vw;
    margin: 0px auto;
    position: relative;
    top: -14px;
  }

  .mic-icon {
    width: 10vw;
  }

  .badge {
    top: 1.980vw;
    right: 2.520vw;
    padding: 0.1 0.220x;
    font-size: 14px;
    font-weight: 600;
  }

  .hero-title {
    font-size: 10vw;
    margin-top: 2.4vw;
  }

  .hero-buttons {
    padding-bottom: 40px;
  }

  .about {
    background-color: #110523;
  }

  .about-text-area {
    padding: 0px 4vw;
  }

  .about hr {
    margin: 0px 25px 0px 25px;
  }

  .about-text-area br {
    display: none;
  }

  .about-text-area .about-title {
    font-size: 7vw;
  }

  .about-info-area {
    white-space: nowrap;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 40px 0px 60px 0px;
  }

  .d2 {
    padding: 15px 0px 40px 0px;
  }

  .about-info-area h3 {
    font-size: 9vw;
  }

  .about-info-area p {
    font-size: 3vw;
  }

  .why-choose-container {
    padding: 10vw 4vw;
  }

  .wch-title {
    font-size: 7vw;
    padding-bottom: 4vw;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4"
      "card-5"
  }

  /* feature section */
  .feature {
    margin: 40px auto;
  }

  /* episode section */
  .episode-title {
    font-size: 8vw;
    padding-bottom: 5vw;
  }

  .episode-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .episode {
    margin: 40px auto;
  }

  .host-title {
    font-size: 8vw;
    padding-bottom: 5vw;

  }

  .host-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .host-name {
    font-size: 7vw;
  }

  .social-links {
    justify-content: center;
  }


  footer {
    background: url("./assets/footer-bg-ph.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 15vw;
    text-align: center;
    position: absolute;
    background-size: cover;
    background-color: #3511655f;
  }

  .footer-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-container h1 {
    font-size: 10vw;
    margin-bottom: 2.75vw;
  }

  .footer-social-links {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 32px;
  }

  .footer-social-links a {
    font-size: 3.2vw;
  }

  .footer-container p {
    font-size: 3vw;
    padding: auto;
  }


}